*,*::before,*::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 100vw ;
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-areas:
    "header"
    "main"
    "footer";

}

header{
    background: yellow;
    grid-area: header;
}
main{
    background : green;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "nav"
    "article1"
    "article2"
    "article3"
    ;
}
nav{
    background: orange;
    grid-area: nav;
    height: 90px;
}
article{
    background: white;
    display: grid;
    place-items: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
}
#art1{
    grid-area: article1;

}
#art2{
    grid-area: article2;
}
#art3{
    grid-area: article3;
}
footer{
    background: purple;
    grid-area: footer;
}

/* media queries */

@media screen and (min-width: 768px){
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;; 
        grid-template-areas:
        "nav article1"
        "article2 article2"
        "article3 article3"
        ;
    }
    nav{
        height:150px;
    }
    article{
        height: 160px;
    }
    #art1{
        margin-top: 15px ;
    }

}
